<div class="position-fixed m-3 z-3" style="min-width: 300px;">
    <div *ngFor="let toast of toasts" class="toast show text-white"
         [class.bg-success]="toast.type === 'success'"
         [class.bg-danger]="toast.type === 'error'"
         role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ toast.message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="removeToast(toast)"></button>
      </div>
    </div>
  </div>
  